page-about {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
        .avatar{
            
            position: absolute;
            top: 25%;
            right: 40%;
            display: inline;
            width: 20%;
            border-radius: 50%;
        }
      
        .card-title {
          position: absolute;
          top: 55%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #00f;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 80%;
          width: 100%;
          color: #00f;
        }
      
      }
      .nums{
          padding: 15px;
      }

 }
    