page-intro {
.slide1{
background-image: url('../../assets/imgs/s1.jpg');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
.slide2{
    background-image: url('../../assets/imgs/s2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ebebeb
    }
    .btnStart{
        color: #ebebeb;
        font-size: 25px;
        border-color: #ebebeb;
        margin-top: 15px;
        background-color:#0083A3
    }

}
