page-add-student {

    .bg-img{
   background-image: url(../../assets/imgs/pic02.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover
    }
    .no-bg-color{
      background-color:rgba(255, 255, 255, 0.00);
  }
    .avatar{
      margin: 5vh auto;
     display: block;
     width: 30%
    }



}
